body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.btn-outline:hover{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}
.Huddle-description{
    margin-left: 32%;
    width: 500px;
    justify-content: center;
    font-weight: 550;
    /* align-items: center; */
}

.Property p{
    max-width: 500px;
    line-height: 24px;
    font-size: 1rem;
    padding-right: 200px;
    text-align: start;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 50px;
}

.btn-outline {
    color: hsl(322, 100%, 66%);
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    border: 2px solid hsl(322, 100%, 66%);
    padding: 10px 20px;
}

.description {
    padding: 50px;
}

.description h1{
    font-size: 2em;
    font-weight: 600;
}

.btn-primary {
    background: hsl(322, 100%, 66%);
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.stat img{
    /* display: flex; */
    justify-content: space-between;
    /* padding: 0;
    margin: 0;  */
}

.stat span{
    font-size: 50px;
    font-weight: bold;
}
.Property{
    display: flex;
    justify-content: space-evenly;
    background-color:  hsl(207, 100%, 98%);
}
.Property img {
    height: 350px;
    width: 350px;
}
.Property h2 {
    display: flex;
    padding-top: 50px;
    font-size: 2rem;
}
.Property p{
    padding-left: 10px;
}
.Property1 img{
    height: 350px;
    width: 350px;
}
.Property1 {
    display: flex;
    justify-content: space-evenly;
}
.Property1 h2 {
    font-size: 2rem;
}

.bottom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-container {
    padding-top: 80px;
    background-color: hsl(192, 100%, 9%);
    color: white;

}
.your-img{
    margin: 0;
    padding: 0;
    display: block;
}
.footer-img{
    display: block;
    margin: 0;
    padding: 0;
}

.grow-img{
    margin: 0;
    padding: 0;
    display: block;
}

.footer-container{
    display: flex;
    background: #00252e;
    color: white;
    padding: 50px;
}

.footer-branding {
    display: flex;

}

.footer-branding h3 {
    font-size: 2rem;
    padding-top: 0px;
    margin-left: 10px;
}

.footer-branding img{
    height: 50px;
    padding-top: 37px;
}